<!DOCTYPE html>
<html lang="en">
  {{template "head" .}}
  <body>
    <!-- tailwind css -->
    {{template "topbar" .}}
    <div class="min-h-screen flex items-center justify-center px-4">
      <div class="w-full max-w-md">
        <h1 class="text-6xl leading-[0.95] tracking-tight font-display font-semibold mb-12">
          Sign in or start writing.
        </h1>
        {{template "loginform" .}}
      </div>
    </div>
    {{if .NonCompliance}}
    {{template "compliance-footer" .}}
    {{end}}
  </body>
</html>
