<!DOCTYPE html>
<html lang="en">
  {{template "head" .}}
  <body>
    <!-- tailwind css -->
    {{template "topbar" .}}
    <div class="px-4 w-screen h-screen grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
      <div class="text-left h-full flex flex-col justify-center items-begin px-4">
        <h2 class="font-sans text-8xl font-semibold leading-[0.95] tracking-tight mb-4">Uncomplicated. Unfiltered. Just your words.</h2>
        <p class="font-sans text-3xl">A minimalist social network. No algorithm. See what <span class="font-semibold leading-tight text-purple-600">everyone</span> is saying.</p>
        <a href="/auth" class="w-35 text-center mt-8 inline-block bg-purple-600 text-white font-semibold py-3 px-6 rounded-lg hover:bg-purple-700 transition-colors duration-300">Start writing</a>
      </div>
      <div class="hidden lg:block h-full flex flex-row justify-self-end items-center overflow-hidden">
        <img src="/static/img/splash.webp" alt="splash image" class="h-full max-h-screen object-cover rounded-lg scale-110">
      </div>
    </div>
  </body>
</html>
